<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Добавить задачу</title>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Добавление задачи</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/reg}">Зарегистрироваться</a>
                <a class="nav-item nav-link" th:if="${user.name == 'Гость'}" th:href="@{/login}">
                    <span th:text="${user.name}"></span>
                    <span> | Войти | </span>
                </a>
                <a class="nav-item nav-link" th:if="${user.name != 'Гость'}" th:href="@{/logout}">
                    <span th:text="${user.name}"></span>
                    <span> | Выйти | </span>
                </a>
                <a class="nav-item nav-link" th:href="@{/index}">Все задачи</a>
                <a class="nav-item nav-link" th:href="@{/new}">Новые</a>
                <a class="nav-item nav-link" th:href="@{/complete}">Выполненные</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Новая задача.
            </div>
            <div class="card-body">
                <form th:action="@{/addTask}" method="POST" th:object="${item}">
                    <input type="hidden" name="id" value="0"/>
                    <input type="hidden" name="done" value="false"/>
                    <div class="form-group">
                        <label for="description">Описание</label>
                        <input type="text" class="form-control" name="description" id="description">
                    </div>
                    <div class="form-group">
                        <label for="cats">Категории</label>
                        </br>
                        <select name="catId" multiple size="3" id="cats"  style="width: 20%">
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text ="${category.name}"
                            >
                            </option>
                        </select>
                    </div>


                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>